
*.aux
*.out
*.gz
*.acn
*.acr
*.alg
*.auxlock
*.bbl
*.blg
*.glo
*.gls
*.glg
*.ist
*.lof
*.lol
*.lot
*.toc
.texpadtmp/Poster_TFG-TFM_EPS_UA.log
.texpadtmp/TFG-TFM_EPS_UA.log
archivos/.DS_Store
archivos/ejemplos/.DS_Store
.DS_Store
